@font-face {
  font-family: "CanelaDeck";
  font-style: normal;
  font-weight: normal;
  src: local("CanelaDeck"), local("CanelaDeck-Light"),
    url(/fonts/canela-deck/CanelaDeck-Light-Web.ttf) format("opentype"),
    url(/fonts/canela-deck/CanelaDeck-Light-Web.woff) format("woff"),
    url(/fonts/canela-deck/CanelaDeck-Light-Web.woff2) format("woff2");
}

@font-face {
  font-family: "CanelaDeck";
  font-style: italic;
  font-weight: normal;
  src: local("CanelaDeck-Italic"),
    url(/fonts/canela-deck/CanelaDeck-LightItalic-Web.ttf) format("opentype"),
    url(/fonts/canela-deck/CanelaDeck-LightItalic-Web.woff) format("woff"),
    url(/fonts/canela-deck/CanelaDeck-LightItalic-Web.woff2) format("woff2");
}

@font-face {
  font-family: "UntitledSans";
  font-style: normal;
  font-weight: normal;
  src: local("UntitledSans"), local("UntitledSans-Regular"),
    url(/fonts/untitled-sans/UntitledSans-Regular.ttf) format("opentype"),
    url(/fonts/untitled-sans/UntitledSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "UntitledSans";
  font-style: italic;
  font-weight: normal;
  src: local("UntitledSans-RegularItalic.ttf"),
    url(/fonts/untitled-sans/UntitledSans-RegularItalic.ttf) format("opentype"),
    url(/fonts/untitled-sans/UntitledSans-RegularItalic.woff2) format("woff2");
}

@font-face {
  font-family: "UntitledSans";
  font-style: normal;
  font-weight: bold;
  src: local("UntitledSans-Medium"),
    url(/fonts/untitled-sans/UntitledSans-Medium.ttf) format("opentype"),
    url(/fonts/untitled-sans/UntitledSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "UntitledSans";
  font-style: italic;
  font-weight: bold;
  src: local("UntitledSans-MediumItalic.ttf"),
    url(/fonts/untitled-sans/UntitledSans-MediumItalic.ttf) format("opentype"),
    url(/fonts/untitled-sans/UntitledSans-MediumItalic.woff2) format("woff2");
}
